body, html{
    background-color: #f2f2f2 !important;
}

button {
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}
button:focus, input:focus {
  outline: none !important;
  box-shadow: none !important;
}

input, textarea, label {
    display: block;
    outline: none;
    border: none;
}

.box-shadow_style01{
    box-shadow: 5px 4px 7px 0px rgb(0 0 0 / 15%);
    -moz-box-shadow: 5px 4px 7px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 5px 4px 7px 0px rgb(0 0 0 / 15%);
    -o-box-shadow: 5px 4px 7px 0px rgba(0,0,0,0.15);
    -ms-box-shadow: 5px 4px 7px 0px rgba(0,0,0,0.15);
}



.form-box {
    position: relative;
  }
  
  .form-box input,   .form-box select  {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #222;
    margin-bottom: 30px;
    border: none;
    border-radius: 0 !important;
    border-bottom: 1px solid #fe9900;
    outline: none;
    background: transparent;
  }
  .form-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #222;
    pointer-events: none;
    transition: .5s;
  }
  
  .form-box input:focus ~ label,
  .form-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #333;
    font-size: 12px;
  }

  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #fe9900;
}

.export-btn button{
  padding: 4px 15px;
  background-color: #103c7e;
  color: #fff;
  font-size: 12px;
}

.closeButton button.close{
  right: -10px;
  top: -10px;
  position: absolute;
  background-color: rgb(248 215 218 / 80%);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #800;
  font-size: 14px;
}

.bg1{background-color: #fe9900;}
.cl0{color: #fff;}

li::marker{
  display: none;
}

#category_task .syi-searchable {
  display: flex;
  flex-grow: 1;
  border: 0.0625em solid #e6e6e6;
  padding-top: 15px;
}

.sc-sov-carrousel {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.sc-sov-carrousel-element {
  display: inline-block;
  vertical-align: middle;
  border-radius: 6px;
  overflow: visible;
  max-height: 340px;
  width: 100%;
}

.searchableOptionValuesContainer {
  width: 100%;
  min-height: 100%;
  padding: 0 20px;
  overflow-y: auto;
}

#category_task .sc-ui-card-body, #category_task .searchableOptionValuesContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.searchable-option-values-container__list {
  max-height: 289px;
}

.sc-ui-option-values {
  max-height: 280px;
}

.ul-lis_cat {
  max-height: 340px;
  padding: 10px 0;
  margin: 0;
  list-style: none;
}
.li_item_cat {
  font-size: 15px;
  cursor: pointer;
  width: auto;
  position: relative;
}

.li_item_cat {
  border-top: 0.0625em solid #e6e6e6;
}

.dropdownlink {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.andes-list__item-primary {
  display: flex;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 580px;
  font-weight: 600;
  color: rgba(0,0,0,.8);
}

.form-check-input {
  width: 1rem;
  height: 1rem;
  margin-top: 0.2142857rem;
  vertical-align: top;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(98, 105, 118, 0.24);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}

.form-check-input {
  background-size: 1rem;
  margin-top: 0.125rem;
}

.andes-list__item-primary input {
  border: 1px solid rgba(0,0,0,.8);
  cursor: pointer;
}

.form-check-input[type="radio"] {
  border-radius: 50%;
}

.form-check-input:checked {
  background-color: #206bc4;
  border-color: rgba(98, 105, 118, 0.24);
}

.form-check-input:checked[type="radio"] {
  background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3ccircle r='3' fill='%23ffffff' cx='8' cy='8' /%3e%3c/svg%3e);
}

.select_cat-form {
  margin-left: 10px;
  cursor: pointer;
}

.andes-list__item-primary input{
  border: 1px solid rgba(0,0,0,.8);
  cursor: pointer;
}

.andes-list__item-primary input:checked + label{
  color: #206bc4;
}

.right_item_cat {
  right: 0;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  font-size: 16px;
  color: #206bc4;
  height: 21px;
}


.right_item_cat span{
  transform-origin: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}


.turn-arrow-main-menu-m span{

  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.submenuItems{
  display: none;
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 0;
  font-size: 14px
}

.submenuItems .li_item_cat{
  font-size: 14px;
}

.submenuItems .andes-list__item-primary input{
  width: 0.95rem;
  height: 0.90rem;
}
.submenuItems .li_item_cat .right_item_cat{
  font-size: 15px;
}