body, html{
    background-color: #f2f2f2 !important;
}

button {
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}
button:focus, input:focus {
  outline: none !important;
  box-shadow: none !important;
}

input, textarea, label {
    display: block;
    outline: none;
    border: none;
}

.box-shadow_style01{
    box-shadow: 5px 4px 7px 0px rgb(0 0 0 / 15%);
    -moz-box-shadow: 5px 4px 7px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 5px 4px 7px 0px rgb(0 0 0 / 15%);
    -o-box-shadow: 5px 4px 7px 0px rgba(0,0,0,0.15);
    -ms-box-shadow: 5px 4px 7px 0px rgba(0,0,0,0.15);
}



.form-box {
    position: relative;
  }
  
  .form-box input,   .form-box select  {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #222;
    margin-bottom: 30px;
    border: none;
    border-radius: 0 !important;
    border-bottom: 1px solid #fe9900;
    outline: none;
    background: transparent;
  }
  .form-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #222;
    pointer-events: none;
    transition: .5s;
  }
  
  .form-box input:focus ~ label,
  .form-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #333;
    font-size: 12px;
  }

  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #fe9900;
}

.export-btn button{
  padding: 4px 15px;
  background-color: #103c7e;
  color: #fff;
  font-size: 12px;
}

.closeButton button.close{
  right: -10px;
  top: -10px;
  position: absolute;
  background-color: rgb(248 215 218 / 80%);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #800;
  font-size: 14px;
}

.bg1{background-color: #fe9900;}
.cl0{color: #fff;}